.form_row {
    border: 1px solid black;
    width: 30%;
    margin: 0 auto;
    height: fit-content;
}

#row_item {
    margin-bottom: 10px;
    margin-left: 10px;
    display: flex;

}

label {
    width: 150px;
}

h1 {
    text-align: center;
}

button {
    width: 120px;
    margin-left: 170px;
    margin-bottom: 10px;
}

table th,
table td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100px;
    text-align: center;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 5px;
}